{% extends "../sakf/model.html" %}
{% block head %}
<link href="{{ static_url('lib/webssh/xterm.min.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ static_url('lib/webssh/fullscreen.min.css') }}" rel="stylesheet" type="text/css"/>
<style>
    .row {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .container {
        margin-top: 20px;
    }

    .btn-danger {
        margin-left: 5px;
    }
</style>
{% end %}
{% block body %}
<body>
<style type="text/css">
    terminal xterm-rows div, span {
        font-family: courier-new, courier, monospace !important;
        font-feature-settings: "liga" 0 !important;
        font-size: 16px;
        line-height: 16px;
    }

    .webssh {
        margin: 38px 300px 100px 300px;
    }

    .report-file {
        display: block;
        position: relative;
        width: 120px;
        height: 28px;
        overflow: hidden;
        border: 1px solid #428bca;
        background: none repeat scroll 0 0 #428bca;
        color: #fff;
        cursor: pointer;
        text-align: center;
        float: left;
        margin-top: 0.8%;
        margin-left: 10px;
        border-radius: 3px;
    }

    .report-file span {
        cursor: pointer;
        display: block;
        line-height: 28px;
    }

    .file-prew {
        position: absolute;
        top: 0;
        left: 0;
        width: 120px;
        height: 30px;
        font-size: 100px;
        opacity: 0;
        filter: alpha(opacity=0);
        cursor: pointer;
    }

    .x-red {
        color: red;
    }
</style>
<h2 style="text-align: center;margin-top: 47px;">WebSSH</h2>
<div class="layui-col-md5 webssh" style="text-align: center">
    <form id="connect" action="" method="post" enctype="multipart/form-data" class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label class="layui-form-label" for="hostname">
                <span class="x-red">*</span>Hostname
            </label>
            <div class="layui-input-block">
                <input type="text" name="hostname" id="hostname" required lay-verify="required" placeholder="Hostname"
                       autocomplete="off" class="layui-input" required value="">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="port">
                <span class="x-red">*</span>Port
            </label>
            <div class="layui-input-block">
                <input class="layui-input" type="number" id="port" name="port" min=1 max=65535 lay-verify="required"
                       value="" required placeholder="Port" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" for="username">
                <span class="x-red">*</span>Username
            </label>
            <div class="layui-input-block">
                <input type="text" id="username" name="username" required lay-verify="required" placeholder="Username"
                       autocomplete="off" class="layui-input" required value="">
            </div>
        </div>
        <!--
        <div class="layui-form-item" pane>
            <label class="layui-form-label">登陆方式</label>
            <div class="layui-input-block" id="login-mian">
                <input type="radio" name="loginMain" value="0" title="密钥" checked>
                <input type="radio" name="loginMain" value="1" title="密码">
            </div>
        </div>

        <div class="layui-form-item" id="login-a" pane>
            <label class="layui-form-label" for="privatekey">
                <span class="x-red">*</span>密钥
            </label>
            <div class="layui-input-block">
                <div class="report-file">
                    <span>上传密钥</span>
                    <input tabindex="3" size="3" name="privatekey" id="privatekey" class="file-prew" type="file"
                           onchange="document.getElementById('textName').value=this.value">
                </div>
                <input type="text" id="textName"
                       style="height: 28px;border:0 solid #f1f1f1; margin-left: 15px;margin-top: 0.9%;"/>
            </div>
        </div>
        -->
        <div class="layui-form-item" id="login-b">
            <label class="layui-form-label" for="password">
                <span class="x-red">*</span>密码
            </label>
            <div class="layui-input-inline ">
                <input type="password" name="password" id="password" required lay-verify="required" placeholder="请输入密码"
                       autocomplete="off" class="layui-input" style="width: 402.8px;">
            </div>
        </div>
        {% module xsrf_form_html() %}
        <div class="layui-form-item">
            <div class="layui-input-block" style="margin-left: 3px;">
                <button class="layui-btn" lay-submit lay-filter="formDemo">Connect</button>
                <button type="reset" class="layui-btn layui-btn-primary">Reset</button>
            </div>
        </div>
    </form>
    <div>
    </div>
    <div class="layui-col-md5 terminal-style">
        <div id="status" style="color: red;"></div>
        <div class="term">
            <div id="terminal"></div>
        </div>
    </div>

    <script src="{{ static_url('lib/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ static_url('lib/webssh/popper.min.js') }}"></script>
    <script src="{{ static_url('lib/webssh/xterm.min.js') }}"></script>
    <script src="{{ static_url('lib/webssh/fullscreen.min.js') }}"></script>
    <script src="{{ static_url('js/webssh/wenssh.js') }}"></script>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    $("#connect")[0].reset();
    //$("#login-b").css('display', 'none');
  });
  /*
  $("#login-mian").click(function () {
    var check_val = $("input[name=loginMain]:checked").val()
    if (check_val == 0) {
      $("#login-b").css('display', 'none');
      $("#login-a").css('display', '');
    } else if (check_val == 1) {
      $("#login-a").css('display', 'none');
      $("#login-b").css('display', '');
    }
  });
  */
</script>
</body>
{% end %}